# Firebase Project Configuration
FIREBASE_PROJECT_ID=maintainiq-e33d4

# Path to your Firebase Service Account JSON file or JSON string (Optional for backend token verification)
# Example: FIREBASE_SERVICE_ACCOUNT=./service-account.json
FIREBASE_SERVICE_ACCOUNT=

# Server Configuration
PORT=8000
HOST=127.0.0.1
